{% extends 'base.html.twig' %}

{% block title %} Commandes clients {% endblock %}


{% block body %}
    
    <h1> Commandes client </h1>


{% if orders | length > 0 %}
        <table class="table tableClass mt-0 p-0">
            <thead> <tr>
                <td> <b> ID </b> </td>
                <td> <b> Nom client  </b></td>
                <td> <b> Total (€)</b></td> 
                <td> <b> Actions </b></td>
            </tr></thead>

            <tbdoy>
                {% for order in orders %}
                    <tr>
                    <td> {{order.id}} </td>
                    <td> {{order.customerName}} </td>
                    <td> {{order.totalPrice}} </td>
                    <td> 
                        <a href={{'/order/see/' ~ order.id}}> <button> VOIR </button> </a>
                        <a href={{'/order/remove/' ~ order.id}}> <button> X </button> </a>
                    </tr>
            
                {% endfor %}
            </tbdoy>            
        </table>

    {% else %}
        <h2> Vous n'avez pas de commandes </h2>
{% endif %}

    {% endblock %}